*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 110px;
    height: 40px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 2px 2px;
    cursor: pointer;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ball, .container {
    transition: 0.4s linear;
}